/* This theme was created by @patrickmfsd for the RMIT Programming Club to use in a Web Programming workshop. */

html {
  background-color: lightgrey;
}

body {
    font-family:  -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
    text-align: center; /* alternatively you can use left, right or justify */
    margin: 2% 15%;
    background-color: white;
    border-radius: 15px;
    padding: 5px 20px;
}

h1 {
	text-decoration: underline;
}

#profile-img {
	border-radius: 50%; /* This creates a circle image, lower the radius to get a Squircle */
}

#tagline {
	text-decoration: italic;
}

#content {
	text-align: left !important;
}

#profile-social-icons .fab, .fa {
	/* !important Overrides existing internal or external CSS */
	font-size: 26px !important; 
	color: black;
	padding-bottom: 15px;
}

footer {
	padding: 5px 0;
	boarder-top: 1px dotted gray;
}