/* 
 * This theme was created for the RMIT Programming Club to use in a Web Programming workshop. 
 * simpleProfile Template by Patrick Mifsud
 *
 * This is the mobile css for the theme, this uses the @media css query to set specific css rules based off a certain parameter, 
 * in this case the max width of the device's display.
 *    
 */

@media only screen and (max-width: 720px) {
    body {
    	margin: 1% 5% !important;
	}
	
	#profile-img {
		width: 50% !important;
	}
	
	#profile-social-icons .fab, .fa {
		/* !important Overrides existing internal or external CSS */
		font-size: 21px !important; 
		padding-bottom: 10px !important;
	}
}


@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 330px) {
    
}